.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}

.card h3 {
    font-size: 18px;
    color: #1a1a1a;
}